{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "webpack": "config/webpack.config.dev.js",
      "alias": [
        ["@", "./src"]
      ]
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "skipUndeclared",
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true,
      "allowTaggedTemplates": false
    }],
    "import/no-cycle": [0],
    "no-shadow": [0],
    "max-len": [0],
    "import/prefer-default-export": [0],
    "react/require-default-props": [0],
    "react/forbid-prop-types": [0],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
          "every": [ "id" ]
      }
    }]
  }
}
