.modalWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    padding: 30px;
    z-index: 10000;
}
.modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 20%;
    height: 25%;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.9;
}
.card:hover {
    opacity: 1;
}
.card img {
    width: 100%;
    height: 100%;
}