.formatWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -15px;
}
.selectFont {
  height: 25px;
  margin-left: 10px;
}
.selectFont div {
  font-size: 12px;
  padding-left: 7px;
}
.closeButton {
  position: absolute;
  top: -5px;
  right: -5px;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
